{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "semi": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-curly-brace-presence": 0
  },
  "globals": {
    "graphql": true
  }
}
